body {
    margin: 0;
    padding: 0;
}

.mainxx {
    margin-top: 51px;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;

}

.jumbotron {
    margin-top: 25vh;
    background-color: transparent !important;
    text-align: center;
    letter-spacing: 2px;
    color: white !important;
    text-shadow: 1px 1px 1px white;

    &__button {
        margin-top: 10vh;
        border-radius: 10px;
        color: pink;
        border: 5px solid seagreen;
        background-color: rgba($color: red, $alpha: 1.0);
    }
}

.footer {
    background-color: #222222;
    height: 20vh;
    width: 100%;
}
